# Ignorer les fichiers de cache Python
__pycache__/
*.py[cod]

# Ignorer les environnements virtuels
venv/
.env/

# Ignorer les fichiers de configuration sensibles
*.env
*.key
*.secret

# Ignorer les fichiers de base de données ou de cache
*.db
*.sqlite3

# Ignorer les fichiers générés par l'IDE
.idea/
.vscode/

# Ignorer les fichiers de dépendances Python
*.egg-info/
dist/
build/

# Ignorer les fichiers de logs
*.log